* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #03111c;
}

.body_login {
    background-image: url(./Pictures/gt86.drift.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.body_register {
    background-image: url(./Pictures/r8\ lms.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.page_admin_body {
    background: #03111c;
}

.body_page_article {
    background-image: url(./Pictures/r32_for_article.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.body_panier {
    background-image: url(./Pictures/FAF_build.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px){

    .body_page_article, .body_login, .body_panier {
        background: #03111c;
    }

    .main_login {
        display: flex;
        width: 85%;
    }

    .body_register {
        background: #03111c;
    }

    .bottom_article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ecu_case {
        margin-top: 5%;
    }

    .article_case_detail {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .article_case_detail img {
        width: 40%;
    }

    .theme_list a{
        font-size: 80%;
    }

    ul {
        padding: 0;
        column-gap: 10%;
    }

}

/* nav bar */

nav {
    background-color: #0D293D;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    margin: 0;
}

.panier_nav {
    display: flex;
    align-items: center;
    width: 45%;
    text-decoration: none;
    color: white;
}

.panier_nav:hover {
    color: #B7951E;
}

.login_nav {
    text-decoration: none;
    color: white;
    font-size: large;
}

.login_nav:hover {
    cursor: pointer;
    color: #B7951E;
}

.user_nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logout_button {
    margin-left: 5%;
}

.logout_button button {
    background: none;
    border: none;
    color: red;
}

.logout_button button:hover {
    cursor: pointer;
    color: rgb(146, 0, 0);
}

.admin_button {
    text-decoration: none;
    color: white;
}

.admin_button:hover {
    color: #B7951E;
}

.user_show {
    color: white;
}

.user_show:hover {
    color: #B7951E;
}

.text_nav {
    text-decoration: none;
    list-style: none;
    color: white;
}

.text_nav:hover {
    cursor: pointer;
    color: #B7951E;
}

.theme {
    background: #071621;
    list-style: none;
}

.theme_list {
    list-style: none;
}

.theme_list li {
    list-style: none;
}

.theme_list a {
    text-decoration: none;
    color: #B7951E;
}

.theme_list a:hover {
    color: white;
}

/* nav bar */

/* carousel  */
.carousel {
    margin-top: 50px;
    overflow: hidden;
    width: 70%;
    position: relative;
}

.carousel .carousel_img,
.carousel .carousel_img--hidden {
    display: none;
}

.carousel .carousel_img img {
    width: 100%;
}

.carousel .carousel_img--visible {
    display: block;
    animation: carouselFade 0.5s;
}

.carousel .carousel_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel_actions button {
    border-radius: 50px;
    font-size: xx-large;
    color: white;
    background: none;
    border: 0;
}

.carousel .carousel_actions button:hover {
    cursor: pointer;
    color: rgb(238, 255, 0);
}

.carousel .carousel_actions button#carousel_button--prev {
    margin-left: 30px;
}

.carousel .carousel_actions button#carousel_button--next {
    margin-right: 30px;
}


@keyframes carouselFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}
/* end carousel  */


/*home page first case*/

.first_case {
    display: flex;
    margin-top: 3.5%;
    justify-content: space-around;
    width: 70%;
    background: #0D293D;
}

.case_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.case_articles a {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.case_articles h3 {
    color: #B7951E;
    text-decoration: none;
}


.first_case_img:hover {
    opacity: 0.3;
}

/*home page end first page*/

/* promotion */

.carousel_promos {
    display: flex;
    flex-direction: column;
    width: 60%;
    background: #0D293D;
    margin-top: 55px;
}


.test2 {
    display: flex;
    /* max-width: 800px; */
}

#prix_promos_after {
    display: flex;
}

.top_yellow {
    display: flex;
    background: #B7951E;
    color: white;
}

.top_yellow a {
    text-decoration: none;
    color: white;
}

.top_yellow a:hover {
    color: #0D293D;
}

.articles_promotions {
    background: #ff00fb;
}

.case_articles_promotions {
    display: flex;
    width: 20%;
    border: solid 5px black;
    justify-content: center;
    background: #0D293D;
}

.case_carousel_articles_promotion {
    display:flex;
    justify-content: space-between;
    /* margin-left: 4%; */
    margin: 5%;
    background: #164566;
    width: 100%;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
}

.case_carousel_articles_promotion a:hover {
    opacity: 0.3;
}

.case_name_yellow_promotions {
    background: #B7951E;
    display: flex;
    width: 100%;
    justify-content: center;
}

/* end carousel promotion */

/* merch article  */

.bottom_article {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10%;
}

.article_merch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    margin: 3%;
    background: #164566;
}

.article_ecu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    margin: 5%;
    background: #164566;
}

.article_ecu a:hover {
    opacity: 0.3;
}

.img_articles, .img_ecu {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.article_merch img:hover {
    cursor: pointer;
    opacity: 0.3;
}

img:hover .testimg {
    opacity: 1;
} 

.testimg:hover {
    cursor: pointer;
    opacity: 1;
    color: #B7951E;
}

.testimg {
  display: none;
  color: white;
  position: absolute;
  text-align: center;
}

.merch_top, .ecu_top {
    background: #B7951E;
    color: white;
}

.merch_top a {
    text-decoration: none;
    color: white;
}

.merch_top a:hover {
    color: #0D293D;
}

.ecu_top a {
    text-decoration: none;
    color: white;
}

.ecu_top a:hover {
    color: #0D293D;
}

.merch_form, .top_article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #0D293D;
}

.merch_case {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.ecu_case {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.mid_info_ecu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.prix_merch, .prix_ecu {
    align-self: flex-end;
}

.name_merch, .name_ecu {
    display: flex;
    justify-content: center;
    width: 100% ;
    background: #B7951E;
}



/* end merch article  */

/* article page */

.article_case {
    max-width: 80%;
    margin-top: 2.5%;
    background: #0d293dd3;
}

.title_article {
    color: white;
    margin-left: 5%;
}

.article_case_detail{
    display: flex;
}

#prix_promos_article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prix_promos_article h1 {
    color: white;
}

.article_case_detail h4 {
    display: flex;
    margin-top: 5%;
    color: white;
}

.add_cart {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-decoration: none;
    color: #B7951E;
    font-size: x-large;
}
.add_cart:hover {
    color: white;
}
/* end article page */

/* REGISTER */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.error {
    background-color: #0D293D;
    color: red;
    font-size: x-large;
}

.register_page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    width: 400px;
    background: #0d293dd9;
}

.title_register {
    align-self: center;
}

#input_register {
    font-size: large;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 5%;
    background: none;
}

.button_register {
    background: none;
    color: white;
    border: solid white 1px;
    margin: 4%;
    border-radius: 5px;
    width: 20%;
}

.button_register:hover {
    cursor: pointer;
    background: #B7951E;
}

.register_page h3 {
    color: white;
}

.register_page h1 {
    color: #B7951E;
}

.button_send {
    cursor: pointer;
    background: #B7951E;
    border-color: white;
    border-radius: 10px;
}

.login_link a {
    text-decoration: none;
    color: #B7951E;
}

.login_link a:hover {
    color: grey;
}

/* END REGISTER */

/* Login */

.login_page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
    justify-content: space-around;
    padding: 0;
    width: 120%;
    height: 350px;
    background-color: #0d293dce;
}

.title_login {
    color: #B7951E;
}

.mail {
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
}

.mail input {
    font-size: large;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    background: none;
}

.btnSendLog {
    width: 100%;
    height: 30px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btnSendLog:hover {
    cursor: pointer;
    color: white;
    background-color: #B7951E;
}

.motDePasse {
    font-size: large;
    display: flex;
    flex-direction: column;
    color: white;
}

.motDePasse input {
    font-size: large;
    margin-top: 10px;
    outline: none;
    background: none;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
}

/* Login */

/* admin page */

.admin_title {
    color: white;
    margin-top: 100px;
}

/* user */

.table_users {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    background: white;
}

.table_top_users,
.table_mid_users {
    background: grey;
}

.role_select {
    outline: none;
}

.role_select option {
    outline: none;
}

.btn_set_admin,
.btn_set_user {
    text-decoration: none;
    color: black;
}

.btn_del_user,
.btn_del_articles {
    text-decoration: none;
    color: rgb(231, 0, 0);
}

.btn_set_admin:hover,
.btn_set_user:hover,
.btn_del_user:hover,
.btn_del_articles:hover {
    color: #B7951E;
}

/* end user */

/* articles change  */

.produits_modif {
    margin-top: 50px;
}

#input_articles_admin,
#prix_articles_admin,
#image_article_admin,
#theme_admin,
#dsc_articles {
    text-align: center;
    outline: none;
    background: rgb(160, 160, 160);
}

.table_produits_modif {
    font-size: large;
    background: white;
}

.table_top_articles,
.table_mid_articles {
    background: grey;
}

.btn_edit_article {
    background: none;
    border: none;
    color: black;
    font-size: medium;
}

.btn_edit_article:hover {
    color: #B7951E;
    cursor: pointer;
}

/* end articles change  */

/* add articles */
.div_add_article {
    background: grey;
    margin-top: 50px;
}


.table_add_article tr {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.table_add_article {
    font-size: large;
}

.table_add_article td {
    font-size: x-large
}

#prix_produit_add,
#nom_produit_add,
#picture_produit_add,
#theme_admin_add,
#dsc_admin_add {
    font-size: large;
    outline: none;
}

.btn_send_article {
    border-radius: 10px;
    outline: none;
    font-size: 25px;
    background: #164566;
    color: white;
    border: none;
}

.btn_send_article:hover {
    cursor: pointer;
    color: #B7951E;

}

/* end add articles */

/*end admin page*/

/* main articles page */

.main_case_wheel {
    margin-left: 10%;
    margin-top: 2%;
    background: #0d293dd3;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.top_main_wheel {
    width: 8%;
    padding: 1%;
    color: white;
}

.texte_explication_wheel {
    display: flex;
    justify-content: center;
    color: rgb(97, 97, 97);
}

.article_wheel_case {
    display: flex;
    margin-left: 16%;
    flex-wrap: wrap;
    column-gap: 5%;
    width: 70%;
    max-width: 80%;
    margin-top: 2%;
}

.top_main_case_wheel hr {
    width: 99.8%;
    background: white;
}

.article_main_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.article_main_info h3 {
    color: #B7951E;
}

.picture_article_wheel {
    display: flex;
    justify-content: center;
}

.picture_article_wheel:hover {
    opacity: 0.3;
}

.name_article_wheel {
    text-decoration: none;
    color: black;
}

.name_article_wheel:hover {
    opacity: 0.3;
}

.promo_case {
    display: flex;
    padding: 10%;
    flex-direction: column;
}

/* end main articles page */

/* panier */

.panier_all {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #0d293dbf;
    width: 50%;
    margin-top: 5%;
}

.article_panier {
    display: flex;
    width: 70%;
    background: #0D293D;
    margin: 3%;
}

.mid_article_panier {
    display: flex;
    flex-direction: column;
}

.mid_article_panier a {
    text-decoration: none;
    color: red;
}

.mid_article_panier a:hover {
    color: #B7951E;
}

.login_link_panier {
    text-decoration: none;
    color: #B7951E;
    font-size: x-large;
}

.login_link_panier:hover {
    color: #0D293D;
}

.promotion_price {
    color: red;
}

/* end panier */