* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(./Pictures/background\ home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.body_login{
    background-image: url(./Pictures/gt86.drift.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.body_register {
    background-image: url(./Pictures/r8\ lms.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.page_admin_body {
    background-image: url(./Pictures/porsche.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* nav bar */
nav {
    background-color: #0D293D;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
li {
    display: flex;
    align-items: center;
    margin: 0;
}
.logo_top {
    width: 20%;
}
.search_top {
    display: flex;
    width: 10%;
    align-items: center;
}
.search_bar {
    border-radius: 30px;
    outline: none;
    width: 10vw;
    height: 2.5vh;
}
.button_search {
    background: none;
    margin-top: 2%;
}
.contact, .compte, .panier {
    display: flex;
    align-content: center;
    align-items: center;
}
.text_nav {
    text-decoration: none;
    list-style: none;
    color: white;
}
.text_nav:hover {
    cursor: pointer;
    color: #B7951E;
}
/* nav bar */

/* carousel  */
.carousel {
    margin-top: 50px;
    overflow: hidden;
    width: 800px;
    position: relative;
    height: 500px;
}
.carousel .carousel_img,
.carousel .carousel_img--hidden {
    display: none;
}
.carousel .carousel_img img {
    width: 800px;
}
.carousel .carousel_img--visible {
    display: block;
}

.carousel .carousel_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel .carousel_actions button {
    border-radius: 50px;
    font-size: xx-large;
    color: white;
    background: none;
    border: 0;
}
.carousel .carousel_actions button:hover {
    cursor: pointer;
    color: rgb(238, 255, 0);
}
.carousel .carousel_actions button#carousel_button--prev {
    margin-left: 30px;
}
.carousel .carousel_actions button#carousel_button--next {
    margin-right: 30px;
}
/* end carousel  */


/*home page first case*/

.first_case {
    display: flex;
    flex-direction: column;
    width: 800px;
    background: #0D293D;
}
.first_case_articles {
    display: flex;
    justify-content: space-around;
}

.first_case_yellow {
    display: flex;
    justify-content: space-around;
    width: 800px;
    background: #B7951E;
}
.first_case_yellow a {
    margin-left: 40px;
    text-decoration: none;
    color: white;
}
.first_case_img:hover {
    zoom: 102%;
}

/*home page end first page*/

/* carousel promotion */

.carousel_promos {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-top: 55px;
}


.test2 {
    display: flex;
    max-width: 800px;
}

#prix_promos_after {
    display: flex;
}

.top_yellow {
    display: flex;
    background: #B7951E;
    color: white;
}

.articles_promotions {
    background: #0D293D;
}

.case_articles_promotions {
    display: flex;
    justify-content: center;
    background: #174363;
}
.case_carousel_articles_promotion {
    display: flex;
    width: 100%;
    background: #164566;
    align-items: center;
    flex-direction: column;
}
.case_name_yellow_promotions {
    background: #B7951E;
    display: flex;
    align-items: center;
}

/* end carousel promotion */

/* register */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.error{
    background-color: #0D293D;
    color: red;
    font-size: x-large;
}
.register_page{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    width: 40%;
    background-color: #0d293daf;
}
.title_register{
    align-self: center;
}

.register_page input {
    outline: none;
    width: 20vw;
    height: 3vh;
}
.register_page h3 {
    color: white;
}
.register_page h1 {
    color: #B7951E;
}
.button_send {
    cursor: pointer;
    background: #B7951E;
    border-color: white;
    border-radius: 10px;
}
.login_link a {
    text-decoration: none;
    color: #B7951E;
}
.login_link a:hover {
    color: grey;
}
/* REGISTER */

/* Login */
 .login_page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50%;
    justify-content: space-around;
    padding: 0;
    width: 450px;
    height: 50vh;
    background-color: #0d293daf;
}

.title_login{
    color: #B7951E;
}

.mail {
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
}

.mail input {
    font-size: large;
    outline: none;
    margin-top: 10px;
}

.btnSendLog {
    width: 150px;
    height: 30px;
}
.btnSendLog:hover {
    cursor: pointer;
    color: white;
    background-color: #B7951E;
}

.motDePasse {
    font-size: large;
    display: flex;
    flex-direction: column;
    color: white;
}
.motDePasse input {
    font-size: large;
    margin-top: 10px;
    outline: none;
}
/* Login */

/* admin page */

.admin_title {
    color: white;
    margin-top: 100px;
}

/* user */

.table_users {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    background: white;
}
.table_top_users, .table_mid_users {
    background: grey;
}

.role_select {
    outline: none;
}
.role_select option {
    outline: none;
}
.btn_set_admin, .btn_set_user {
    text-decoration: none;
    color: black;
}
.btn_del_user, .btn_del_articles{
    text-decoration: none;
    color: rgb(231, 0, 0);
}
.btn_set_admin:hover, .btn_set_user:hover, .btn_del_user:hover, .btn_del_articles:hover {
    color: #B7951E;
}
/* end user */

/* articles change  */

.produits_modif {
    margin-top: 50px;
}
#input_articles_admin, #prix_articles_admin, #image_article_admin{
    text-align: center;
    outline: none;
    background: rgb(160, 160, 160);
}
.table_produits_modif {
    background: white;
}
.table_top_articles, .table_mid_articles {
    background: grey;
}
.btn_edit_article{
    background: none;
    border: none;
    color: black;
    font-size: medium;
}
.btn_edit_article:hover{
    color: #B7951E;
    cursor: pointer;
}

/* end articles change  */

/* add articles */
.div_add_article{
    background: grey;
    margin-top: 50px;
}
.table_add_article tr {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.table_add_article{
    font-size: large;
}
.table_add_article td {
    font-size: x-large
}
#prix_produit_add, #nom_produit_add, #picture_produit_add {
    font-size: large;
}
.btn_send_article {
    border-radius: 10px;
    outline: none;
    font-size: 25px;
    background: #164566;
    color: white;
    border: none;
}
.btn_send_article:hover {
    cursor: pointer;
    color: #B7951E;
    
}
/* end add articles */

/*end admin page*/ 